$accordion-button-focus-box-shadow: none;

@import "bootstrap";

body {
  font-family: 'Play', sans-serif;
}

.project-link a {
  color: $dark;
  text-decoration: none;
}

.project-link:hover a {
  color: $light;
}

.bg-custom {
  background-color: #0d1117;
}

::-webkit-scrollbar {
  width: 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
