$accordion-button-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-focus-box-shadow: none;

@import "../../node_modules/bootstrap";

body {
  font-family: 'Play', sans-serif;
}

#light .project-link a {
  color: $dark;
  text-decoration: none;
}

#light .project-link:hover a {
  color: $light;
}

#dark .project-link a {
  color: $light;
  text-decoration: none;
}

#dark .project-link:hover a {
  color: $dark;
}

.bg-custom {
  background-color: #0d1117;
}

::-webkit-scrollbar {
  width: 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#dark .accordion-button[aria-expanded="false"] {
  color: white;
}
